.container{
  padding: 20px;
}

.payment-more-details{

}
ul{
  list-style-type: none;
}
h1{
  font-size: 2em;
}
h2{
  font-weight: 100;
  padding: 20px 0px;
}
h3{
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0px;
}
.menu-list a{
  text-decoration: none;
}
.invisible{
  display: none;
}
.visible{
  display: block;
}
.sidebar_item li{
  border-bottom: 1px solid #777;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
